@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
:root{
    --var--white:#fdfaf2ef;
    --var--backround:#6d70c7;
    --var--one:#a39eff;
    --var--twice:#3f467f;
    --var--third:#1b213f;
    --var--fourth:#000007;
    
}

*{
    box-sizing:border-box;
    margin: 0; 
    padding:0 ;
    list-style: none;
	text-decoration: none;
}
#warn{
    color : red;
    text-align: center;

}
body{
    background:#000007;
    background: linear-gradient(0deg, #a39eff 0%, #000007 90%);
    margin:auto;
    padding:20px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color:var(--var--fourth);
    background-color:var(--var--third);
}

.container{ 
   color: var(--var--white);
    background-color:var(--var--backround) ; 
    border-radius:20px;
    padding:20px;
    display:flex;
    flex-direction: row;
    justify-content:space-between; 
    align-items:baseline;
    position:relative;
   
}

.list ul { 
    width:400px;
    display:flex;
    align-items:baseline;
    justify-content:space-between;
}

nav a {
    color:var(--var--white);
    transition: color 0.5s ease;
}
nav a:hover{
    color:var(--var--twice);
}

ul {
    list-style:none;
}

#sform{
    position:relative;
}

.src .search{
    background-color:var(--var--white);
    border: 0;
    font-size:16px;
    padding: 15px;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
   
}
.btn {
    background-color:rgb(90,93,144);
    color:var(--var--white);
    border: 0;
    border-radius:30px;
    cursor: pointer;
    font-size: 24px;
    position:absolute;
    top: 0;
    right:0;
    height: 50px;
    width: 50px;
    transition: transform 0.4s ease;
 
}

.btn:focus
.src:focus
.sepet:focus{
    outline: none;
}

.src.active .search{
    width: 400px;
}
.src.active .buton{
    transform: translateX(198px);
}


section{
    background-color:var(--var--bkr);
    color: var(--var--white);
    display: flex;
    margin:0;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.form{
    background-color: rgba(0,0,0,0.4);
    padding: 20px 40px;
    border-radius: 10px;
}

.form h1{
    text-align: center;
    margin-bottom:30px ;
}

.form a{
    text-decoration: none;
    color:var(--var--third);
}

.formbtn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    color:var(--var-white);
    background-color: var(--var--third);
    padding: 15px;
    font-family: inherit;
    font-size: 20px;
    border: 0;
    border-radius: 8px;
}

.formbtn:focus{
    outline: 0;
}

.formbtn:active{
    color:var(--var--twice);
    transform: scale(0.97);
}

.text{
     margin-top: 30px;
}

.form-control{
    position: relative;
    margin: 20px 0 40px;
    width: 100%;
}

.form-control input{
    background-color:  transparent;
    border:0;
    border-bottom: 2px #fff solid;
    display: black;
    width:100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
}

.form-control input:focus, 
.form-control input:valid{
    outline: 0;
    border-bottom-color:var(--var--one);
}

.form-control label{
    position: absolute;
    top: 15px;
    left:0;
}

.form-control label span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
   transition: 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span{
    color:var(--var--one);
    transform: translateY(-30px);
}

@media (max-width:900px){
    .container {
       display:flex;
       flex-direction:column;
       align-items:center;
       justify-content:space-evenly;
    }

    ul{
        padding:15px;
    }
}