@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
:root{
    --var--white:#fdfaf2ef;
    --var--backround:#6d70c7;
    --var--one:#a39eff;
    --var--twice:#3f467f;
    --var--third:#1b213f;
    --var--fourth:#000007;
    
}

*{
    box-sizing:border-box;
    margin: 0; 
    padding:0 ;
    list-style: none;
	text-decoration: none;
}

body{
    background:#000007;
    background: linear-gradient(0deg, #a39eff 0%, #1b213f 90%);
    margin:auto;
    padding:20px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color:var(--var--fourth);
    background-color:var(--var--third);
}

.container{ 
   color: var(--var--white);
    background-color:var(--var--backround) ; 
    border-radius:20px;
    padding:20px;
    display:flex;
    flex-direction: row;
    justify-content:space-between; 
    align-items:baseline;
    position:relative;
   
}

.list ul { 
    width:400px;
    display:flex;
    align-items:baseline;
    justify-content:space-between;  
}

nav a {
    color:var(--var--white);
    transition: color 0.5s ease;
}
nav a:hover{
    color:var(--var--twice);
}
#success {
    background: green;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    opacity: 0.9;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInOut 5s ease-out forwards;
    z-index: 100;
}
#warn {
    background: #db6161;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    opacity: 0.9;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInOut 5s ease-out forwards;
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    20% {
        opacity: 0.9;
        transform: translate(-50%, -50%);
    }
    80% {
        opacity: 0.9;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
}
ul {
    list-style:none;
}

#sform{
    position:relative;
}

.src .search{
    background-color:var(--var--white);
    border: 0;
    font-size:16px;
    padding: 15px;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
   
}
.btn {
    background-color:rgb(90,93,144);
    color:var(--var--white);
    border: 0;
    border-radius:30px;
    cursor: pointer;
    font-size: 24px;
    position:absolute;
    top: 0;
    right:0;
    height: 50px;
    width: 50px;
    transition: transform 0.4s ease;
 
}

.btn:focus
.src:focus
.sepet:focus{
    outline: none;
}

.src.active .search{
    width: 400px;
}
.src.active .buton{
    transform: translateX(198px);
}


main{
    display: flex;
    flex-wrap: wrap;
}

.product{
    width: 300px;
    height: 250px;
    margin: 1rem;
    background-color: var(--var--backround);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    transition: transform 0.3s;
}

.product:hover{
    transform: scale(1.1);
}

.product h3 , span{
    display: flex;
    align-items: center;
    justify-content: center;
}

main a {
    color:var(--var--white);
}
main a:hover{
    color:var(--var--twice);
}

main .sepet{
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}


@media (max-width:900px){
    .container {
       display:flex;
       flex-direction:column;
       align-items:center;
       justify-content:space-evenly;
    }

    ul{
        padding:15px;
    }
}