@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --var--white:#fdfaf2ef;
    --var--backround:#6d70c7;
    --var--one:#a39eff;
    --var--twice:#3f467f;
    --var--third:#1b213f;
    --var--fourth:#000007;
}

*{
    box-sizing:border-box;
    margin: 0; 
    padding:0 ;
    list-style: none;
	text-decoration: none;
}

body{
    background:#000007;
    background: linear-gradient(0deg, #a39eff 0%, #1b213f 90%);
    margin:auto;
    padding:20px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color:var(--var--fourth);
    background-color:var(--var--third);
}

.container{ 
    color: var(--var--white);
    background-color:var(--var--backround) ; 
    border-radius:20px;
    padding:20px;
    display:flex;
    flex-direction: row;
    justify-content:space-between; 
    align-items:baseline;
    position:relative;
}

.list ul { 
    width:400px;
    display:flex;
    align-items:baseline;
    justify-content:space-between;
    cursor: pointer;
}

nav a {
    color:var(--var--white);
}
nav a:hover {
    color:var(--var--twice);
}

ul {
    list-style:none;
}

#sform{
    position:relative;
}

.src .search{
    background-color:var(--var--white);
    border: 0;
    font-size:16px;
    padding: 15px;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease;
   
}
.btn {
    background-color:rgb(90,93,144);
    color:var(--var--white);
    border: 0;
    border-radius:30px;
    cursor: pointer;
    font-size: 24px;
    top: 0;
    right:0;
    height: 50px;
    width: 50px;
}

.categories-container {
    position: relative;
    margin-top: 20px;
}

.category-header {
    font-size: 26px;
    cursor: pointer;
    background-color: var(--var--backround);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--var--white);
    letter-spacing: 1px;
}

.category-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    width: 200px; /* Kategoriler genişliği */
}

.category {
    padding: 10px;
    background-color: var(--var--third);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.category-title {
    margin: 0;
    color: var(--var--white);
}

.category:hover {
    background-color: var(--var--twice);
}


.category-header i {
    transition: transform 0.3s;
}

.category-header.open i {
    transform: rotate(180deg);
}

.btn:focus
.src:focus
.sepet:focus{
    outline: none;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.product{
    height: 250px;
    margin: 1rem;
    background-color: var(--var--backround);
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    transition: transform 0.3s;
}

.product:hover{
    transform: scale(1.1);
}

.product img{
    width: 100%;
}

main a {
    color:var(--var--white);
}
main a:hover{
    color:var(--var--twice);
}

main .sepet{
    padding:10px;
    display:flex;
    justify-content:center;
    align-items:center;
}

@media (max-width:900px){
    .container {
       display:flex;
       flex-direction:column;
       align-items:center;
       justify-content:space-evenly;
    }

    ul{
        padding:15px;
    }
}
